* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 70%;
    height: 70%;
    background: #c76c6c;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #555;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    background: cornsilk;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: grey;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    height: 60%;
    width: 50%;
    color: white;
}

input {
    outline: none;
}

.text-input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 20px 0;
    font-size: 18px;
    color: grey;
}

.btn {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #4a6e52;
    transition: 0.4s;
    cursor: pointer;
}

.profiles-btn {
    background: #fff;
    color: #4a6e52;
    margin: 10px 0;
}

.notification-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
    color: #333;
    padding: 0 20px;
    width: 250px;
    height: 150px;
    box-shadow: 1px 1px 5px lightgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 2s;
    visibility: hidden;
}

/* show the notification popup which is hidden by default */
.show-popup {
    visibility: visible;
}

/* profiles slide */
.profiles-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s ease-in-out;
}

/* add this class to show the profiles slide */
.show-profiles-slide {
    visibility: visible;
    transform: scale(1);
}

/* slide header */
.slide-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.search-bar input {
    border: 1px solid lightgrey;
    outline: none;
    border-radius: 10px;
    padding: 3px;
    margin-right: 5px;
    font-size: 12px;
    color: grey;
}

.slide-logo {
    text-align: center;
}

.slide-logo h4, .slide-logo h5, .fa-search {
    color: grey;
}

.slide-logo span {
    color: #c76c6c;
}

.list-header {
    display: flex;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: relative;
}

.list-header .fa-home {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profiles-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-content {
    padding: 10px;
    border-bottom: 1px dashed lightgrey;
    color: grey;
}

.list-header h4 {
    width: 33.33%;
}

.list-content {
    display: flex;
    width: 100%;
}

.list-content div {
    width: 33.33%;
}

.profile-link {
    color: #6495ed;
    cursor: pointer;
}